:host {
    display: contents;
}

mat-card-title {
    margin-bottom: 0;
}

mat-card-content {
    display: flex;
    height: calc(100% - 16px);
}

.user-card {
    background: rgb(246, 246, 247);
    width: 70%;
    height: 50%;

    &__content {
        display: flex;
        align-content: center;
        align-items: center;
        margin-left: 16px;
        gap: 24px;
        font-size: 18px;

        .user-avatar {
            background-image: url('https://toppng.com/uploads/preview/avatar-png-11554021819gij72acuim.png');
            background-size: cover;
            background-color: #fff;
        }
    }
}