    nav {
    background-color: #fff;
    z-index: 1;
    position: fixed;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section {
    padding-top: 60px;
    position: relative;
    display: block;

    .filters-container {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-left: 50px;
    }

    mat-card-title {
        margin-bottom: 0;
    }

    mat-card-content {
        display: flex;
        height: calc(100% - 16px);
    }

    .user-tile {
        width: 70%;
        height: 50%;
        background: rgb(246, 246, 247);
        color: black;

        &--indicator {
            border-left: gray solid 9px;
        }
            
        &--indicator.purple {
            border-left-color: #622376;
        }

        &--indicator.blue {
            border-left-color: #00C9BA;
        }

        &--indicator.green {
            border-left-color: #49817B;
        }

        &__content {
            display: flex;
            align-content: center;
            align-items: center;
            margin-left: 16px;
            gap: 24px;
            font-size: 18px;

            .user-avatar {
                background-image: url('https://toppng.com/uploads/preview/avatar-png-11554021819gij72acuim.png');
                background-size: cover;
                background-color: #fff;
            }
        }
    }
}